<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Hình sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th> <a href="@Url.Action("CheckOut_Success", "ShoppingCart")"> Buy</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                Chưa có sản phẩm nào ...
            </td>
           
        </tr>
    </tbody>
</table>

