@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="ty-breadcrumbs-clearfix">
        <a href="https://www.pnj.com.vn/" class="ty-breadcrumbs__a">Trang chủ</a>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://cdn.pnj.io/images/promo/190/16-halloween-1972x640CTA.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pnj.io/images/promo/190/kim-cuong-t10-23-1972x640_copy.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pnj.io/images/promo/187/WATCH__1972x640__CTA_.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

</main>